@media only screen and (max-width : 565px) {
.menu li a {
    font-size: 10px;
}
.menu li a::after, .menu li:nth-child(2) a::after, .menu li:nth-child(3) a::after, .menu li:nth-child(4) a::after, .menu li:nth-child(5) a::after {
    height: 67px;
}
.banner_inner {
    width: 72%;
}
.banner_inner h2 {
    font-size: 32px;
}
.banner_inner p {
    font-size: 16px;
    line-height: 26px;
}
.banner_link a {
    font-size: 12px;
    padding: 6px 12px;
}
.welcome {
    padding: 50px 0 0;
}
.welcome_top h2 {
    font-size: 24px;
}
.welcome_top p{
    font-size: 10px;
    line-height: 20px;
} 
.welcome_inner {
    width: 70%;
}
.welcome_inner:nth-child(1), .welcome_inner:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
}
.welcome_para {
    margin-bottom: 40px;
}
.welcome_para h4 {
    font-size: 16px;
    line-height: 26px;
}
.welcome_para p {
    font-size: 14px;
}
.team_inner h2, .services_para h2{
    font-size: 16px;
}
.team_lef, .team_rig, .services_lef, .services_rig{
    width: 94%;
    margin: 0 auto;
}
.services_para p, .team_lef p {
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 20px;
}
.services_link h4 {
    width: 0;
    font-size: 11px;
    line-height: 18px;
}
.team_img {
    margin: 20px auto;
}
.services_inner, .services_para {
    grid-template-columns: auto;
}
.services_inner{
    margin-bottom: 40px;
}
.services_top{
    width: 66%;
    margin: 0 auto;
}
.services_top:nth-child(1), .services_top:nth-child(3){
    margin: 0 auto;
}
.services_link h4:nth-child(1){
    width: 64%;
}
.services_link h4:nth-child(2) {
    width: 68%;
}
.services_link{
    margin-bottom: 20px;
}
.sc_rig1{
    margin: 0 auto 20px;
}
.services_content {
    padding-bottom: 30px;
}
.portfolio_inner {
    grid-template-columns: auto auto;
}
.portfolio_link{
    margin-top: -40px;
}
.portfolios h2 {
    font-size: 14px;
}
.portfolio_link2{
    margin-bottom: 60px;
}
.about, .contact_link {
    margin-bottom: 60px;
}
.contact_inner{
    width: 92%;
}
.map_overlay {
    border: 4px solid #f8f8fa;
}
.map_inner {
    width: 50%;
    left: 20%;
    top: 6%;
}
.map_inner h2 {
    font-size: 8px;
}
.map_content p, .map_inner h4 {
    font-size: 5px;
}
.map_content a {
    font-size: 6px;
    border: 1px solid #d8d9dd;
    border-radius: 2px;
    padding: 3px 0;
}
.square{
    display: none;
}
.minus, .plus{
    width: 10%;
}
.plus{
    top: -42px;
}
.minus {
    margin-top: 18px;
}
.values {
    width: 66%;
    right: 6px;
}
.form_inner {
    width: auto;
}
.form_inner:nth-child(4), .lef_logo img{
    margin: 14px auto;
}
.submit {
    margin-bottom: 60px;
}
.submit a {
    font-size: 12px;
}
.ft_inner {
    width: 60%;
}
.footer_bottom p {
    font-size: 10px;
}
}
