@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
}
/* template_start */
.template_inner{
}
.temp_lef{
    width: 20%;
    height: 100%;
    background-color: #4b5056;
    position: fixed;
    margin: 0 auto;
}
.lef_logo{
    background-color: #fff;
    margin: 40px auto;
}
.lef_logo img{
    width: 100%;
}
.menu{
    text-align: center;
}
.menu li a{
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    background-color: #393e42;
    color: #3ea8e6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.menu li a::after, .menu li:nth-child(2) a::after, .menu li:nth-child(3) a::after, .menu li:nth-child(4) a::after, .menu li:nth-child(5) a::after{
    content: "";
    width: 4px;
    height: 63px;
    background-color: #3ea8e6;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.menu li:nth-child(2) a::after{
    background-color: #eab044;
}
.menu li:nth-child(3) a::after{
    background-color: #9351e7;
}
.menu li:nth-child(4) a::after{
    background-color: #3ae392;
}
.menu li:nth-child(5) a::after{
    background-color: #e13b7b;
}
.menu li:nth-child(2) a:hover{
    color: #eab044;
}
.menu li:nth-child(3) a:hover{
    color: #9351e7;
}
.menu li:nth-child(4) a:hover{
    color: #3ae392;
}
.menu li:nth-child(5) a:hover{
    color: #e13b7b;
}
.temp_rig{
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    left: 10%;
}

/* banner_start */
.banner{
    background: url('../images/banner.jpg') no-repeat center;
    background-size: cover;
    padding: 100px 0;
}
.banner_inner{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto 20px;
}
.banner_inner h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 26px;
}
.banner_inner p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 26px;
}
.banner_link a{
    width: 40%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #3ea8e6;
    color: #fff;
    padding: 10px 16px;
    border-bottom: 4px solid #1a6e9c;
    margin: 0 auto;
}
/* .banner_inner ul{
    display: flex;
    flex-wrap: wrap;
}
.banner_inner li a{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid #000;
    display: inline-block;
    top: -30%;
    right: 10%;
    position: absolute;
} */
/* banner_end */

/* welcome_start */
.welcome{
    padding: 50px 0;
}
.welcome_top{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.welcome_top h2{
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3ea8e6;
    margin-bottom: 20px;
}
.welcome_top p{
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #a9a0b1;
    border-bottom: 3px solid #e19d1e;
    padding: 0 0 50px;
}
.welcome_top span{
    color: #3ea8e6;
}
.welcome_content{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.welcome_inner{
    width: 33.333333%;
    text-align: center;
    margin: 0 auto;
}
.about{
    width: 80%;
    margin: 0 auto 50px;
}
.about a{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #eab044;
    display: inline-block;
    color: #fff;
    padding: 10px;
}
.welcome_para{
    width: 94%;
    margin: 0 auto;
}
.welcome_inner:nth-child(1){
    margin-left: -8px;
}
.welcome_inner:nth-child(3){
    margin-right: -9px;
}
.welcome_para img{
    max-width: 100%;
    margin-bottom: 10px;
}
.welcome_para h4{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #e19d1e;
    margin-bottom: 6px;
}
.welcome_para p{
    font-size: 14px;
    font-weight: 4~00;
    text-transform: capitalize;
}
/* welcome_end */
/* template_end */