@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
}
/* template_start */
.template_inner{
}
.temp_lef{
    width: 20%;
    height: 100%;
    background-color: #4b5056;
    position: fixed;
    margin: 0 auto;
}
.lef_logo{
    background-color: #fff;
    margin: 40px auto;
}
.lef_logo img{
    width: 100%;
}
.menu{
    text-align: center;
}
.menu li a{
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    background-color: #393e42;
    color: #3ea8e6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.menu li a::after, .menu li:nth-child(2) a::after, .menu li:nth-child(3) a::after, .menu li:nth-child(4) a::after, .menu li:nth-child(5) a::after{
    content: "";
    width: 4px;
    height: 56px;
    background-color: #3ea8e6;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.menu li:nth-child(2) a::after{
    background-color: #eab044;
}
.menu li:nth-child(3) a::after{
    background-color: #9351e7;
}
.menu li:nth-child(4) a::after{
    background-color: #3ae392;
}
.menu li:nth-child(5) a::after{
    background-color: #e13b7b;
}
.menu li:nth-child(2) a:hover{
    color: #eab044;
}
.menu li:nth-child(3) a:hover{
    color: #9351e7;
}
.menu li:nth-child(4) a:hover{
    color: #3ae392;
}
.menu li:nth-child(5) a:hover{
    color: #e13b7b;
}
.temp_rig{
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    left: 10%;
}

/* banner_start */
.banner{
    background: url('../images/banner.jpg') no-repeat center;
    background-size: cover;
    padding: 100px 0;
}
.banner_inner{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
}
.banner_inner h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 26px;
}
.banner_inner p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 26px;
}
.banner_link a{
    width: 40%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #3ea8e6;
    color: #fff;
    padding: 10px 16px;
    border-bottom: 4px solid #1a6e9c;
    margin: 0 auto;
}
/* .circle ul{
    display: flex;
    flex-wrap: wrap;
}
.circle li a{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid #000;
    display: inline-block;
    top: 0;
    right: 0;
    transform: translate(-50%,-50%);
} */
/* banner_end */
/* template_end */